.sudoku-grid {
  outline: solid 2px;
}



table {
  border-collapse: collapse;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.sudoku-grid .cell {
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin-top: -1px;
  margin-left: -1px;
  border-spacing: 0px;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  border: 1px dashed;
}

.sudoku-grid .clicky:hover {
  background-color: #043d4b3a
}

.sudoku-grid .clicky .span-value  {
  color: rgb(21, 152, 121);
}

.sudoku-grid .cell.clue {
  background: #bfc8cb7b;
  cursor: not-allowed;
}

.boop {
  margin-top: 40px;
}

.sudoku-grid .cell span {
    color:#2c3e50;
    font-size:40px;
    text-align:middle;
}

/* hacky bootstrap-react fix */

.top-buffer {
  margin-top:20px;
}

.thicc {
  margin-bottom: 10px;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
  display: block !important;
}

#input-popover tbody{
  width: 100%;
  display: table;
}

#input-popover td{
  cursor: pointer;
}

#input-popover {
  background-color: white;
  font-weight: bold;
  font-size: 12px;
  width: 58px;
  height: 58px;
  table-layout: fixed;
  display: block;
  position: absolute;
  z-index: 1060;
}

.span-value{
  position: relative;
}

.close-button {
  display: none!important;
  margin-left: 0px;
  z-index: 1000;
  position: absolute;
  display: block;
  font-size: .8em;
}

.cell:hover .close-button{
  display: block!important;
}

.content-box {
  padding: 20px;
  background-color: white;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 5px;
}

body {
  background-color: #F2F2F2 !important;
}

.subtle-shadow {
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bg-light {
  background-color: rgba(132, 136, 136, 0.187) !important;
}

/* PAGE WRAP SETTINGS */

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
