.sudoku-grid {
  outline: solid 2px;
}


table {
  border-collapse: collapse;
}

.sudoku-grid .cell {
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin-top: -1px;
  margin-left: -1px;
  border-spacing: 0px;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  border: 1px dashed;
}

.sudoku-grid .clicky:hover {
  background-color: #ecf0f1a9
}

.sudoku-grid .cell.clue {
  background: #ecf0f1e1;
  cursor: not-allowed;
}

.boop {
  margin-top: 60px;
}

.sudoku-grid .cell span {
    color:#2c3e50;
    font-size:40px;
    text-align:middle;
}

/* hacky bootstrap-react fix */

.top-buffer {
  margin-top:20px;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
  display: block !important;
}

#input-popover tbody{
  width: 100%;
  display: table;
}

#input-popover td{
  cursor: pointer;
}

#input-popover {
  background-color: white;
  font-weight: bold;
  font-size: 12px;
  width: 58px;
  height: 58px;
  table-layout: fixed;
  display: block;
  position: absolute;
  z-index: 1060;
}

.span-value{
  position: relative;
}

.close-button {
  display: none!important;
  margin-left: 0px;
  z-index: 1000;
  position: absolute;
  display: block;
  font-size: .8em;
}

.cell:hover .close-button{
  display: block!important;
}

